/dist/
/main.spec
/build/
/.idea/dictionaries/valen.xml
/.idea/TiendaSandwiches.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
